################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimeWeb/PrimeWeb.Core/obj/Debug
